<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Appointment</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/aws-cognito-sdk.min.js"></script>
        <script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/amazon-cognito-identity.min.js"></script>
        <!--link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"-->
    </head>

    <body> 
        {% block body %}
        <div class="container" id="loginForm">
        

      {% for item in data['Items'] %}
      <h2>Welcome {{item['name']}}  </h2>
        <div class="card-columns">
            <div class="card bg-light">
            <div class="card-body text-center">
                <p class="card-text">
                    <h2> My appointment with {{item['doctor']}} </h2>
                        
                        <p>{{item['fecha']}}</p>

                </p>
                <!--h2>Sensor {{ item['type'] }}</h2>
                <div class="chart" id="graph" data-percent="{{ item['value'] }}"></div--> 
            </div>
            </div>

        </div>
        {% endfor %}

        </div>
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/meraki_auth.js') }}"></script>
    </body>
</html>