{% block body %}
<html>
    <head>
         <!-- Required meta tags -->
      <title>Apointment</title>
      <meta charset="utf-8">
        
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>TypekitConfig={kitId:"hum1oye",scriptTimeout:1.5e3},function(){var a=document.getElementsByTagName("html")[0];a.className+=" wf-loading";var b=setTimeout(function(){a.className=a.className.replace(/(\s|^)wf-loading(\s|$)/g,""),a.className+=" wf-inactive"},TypekitConfig.scriptTimeout),c=document.createElement("script");c.src="//use.typekit.com/"+TypekitConfig.kitId+".js",c.type="text/javascript",c.async="true",c.onload=c.onreadystatechange=function(){var a=this.readyState;if(!a||a=="complete"||a=="loaded"){clearTimeout(b);try{Typekit.load(TypekitConfig)}catch(c){}}};var d=document.getElementsByTagName("script")[0];d.parentNode.insertBefore(c,d)}()</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/aws-cognito-sdk.min.js"></script>
      <script src="https://rawgit.com/aws/amazon-cognito-identity-js/master/dist/amazon-cognito-identity.min.js"></script>

      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style_signup.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    </head>
    <body>
      <div class="container">  

        <form id="loginForm" name="data" method="POST" action="/cita">

          <center><h2>Register an appointment</h2></center>

          <br>

          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required autofocus>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="name_ap" name="name_ap" placeholder="First Last Name" required autofocus>
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="name_am" name="name_am" placeholder="Second Last Name" required autofocus>
          </div>
          <div class="form-group">
            
            <select class="form-select" name="motive" id="motive">
              <option selected>Motive</option>
              <option value="Gral. Consult">Gral. Consult</option>
              <option value="Covid">Covid</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="form-group">
            <input type="email" class="form-control" id="email" name="user_email_address" aria-describedby="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <select class="form-select" name="doctor" id="doctor">
              <option selected>Doctor</option>
              <option value="Dr. Perez">Dr. Perez</option>
              <option value="Dr. Alberto">Dr. Alberto</option>
              <option value="Dr. Rodriguez">Dr. Rodriguez </option>
              <option value="Dr. Garcia">Dr. Garcia</option>
            </select>
          </div>
          <div class="form-group">
            <input type="date" class="form-control" id="date" name="date"  placeholder="Date" required>
          </div>
          <div class="form-group">
            <input type="time" class="form-control" id="time" name="time"  min="08:00" max="20:30" required>
          </div>

          <button type="submit" class="btn btn-primary" value="Submit" onclick="cita();">Register</button>
          <center><p class="copyright">Sample by Meraki iot automatization team :] </p></center>

        </form>
        
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
   
    <script type=text/javascript src="{{url_for('static', filename='js/meraki_auth.js') }}"></script>
       

    </body>
    

</html>
{% endblock  %}